/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.apps-input {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    --mdc-filled-text-field-container-color: white;
  }
}

.mat-mdc-form-field-focus-overlay {
  background-color: white !important;
}
.mdc-notched-outline__trailing {
  border-top-right-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
  border: 2px solid black !important;
  border-left: 0 !important;
}
.mdc-notched-outline__leading {
  border-top-left-radius: 12px !important;
  border-bottom-left-radius: 12px !important;
  border: 2px solid black !important;
  border-right: 0 !important;
}
.mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

/*  */

.mat-typography h1 {
  margin: 0;
}
