/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.apps-input {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    --mdc-filled-text-field-container-color: red;
  }
}

/*  */

.mat-typography h1 {
  margin: 0;
}
